body {
  color: blue; }

#testID1 {
  height: 120px;
  width: 120px;
  background-color: gray;
  border-radius: 5px;
  display: inline-block; }

#testID2 {
  height: 120px;
  width: 200px;
  display: inline-block;
  border: solid black 1px;
  border-radius: 5px; }
  #testID2 .nestedClass1 {
    position: relative;
    margin: 10px;
    float: left;
    height: 100px;
    width: 80px;
    background-color: gray; }

.here {
  height: 50px;
  width: 50px;
  float: left; }

.there {
  background-color: orange; }

.where {
  background-color: red; }
