doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title= "ASDF-R"
		link(rel="stylesheet", href="css/style.css")
		script(data-main="js/lib/asdf/init", src="js/lib/require.js")
	body
		h1 ASDF-R
		script(src="js/main.js")